.App {
  text-align: center;
}

@keyframes fadeIn {
  from {
opacity: 0;
transform: scale(0.1)
  }
50% {
transform: rotate(360deg)  
}  
  to{
opacity: 1;
transform:  scale(1);
  }
}

@keyframes glowing {
from {
transform: scale(1);
filter: invert(1);
box-shadow: 0px 0px 2px white;  
}
5% {
transform: scale(1.025);
filter: invert(1);  
box-shadow: 0px 0px 15px rgb(199, 82, 9);
}
10% {
transform: scale(1.05);
filter: invert(1);
box-shadow: 0px 0px 15px rgb(199, 82, 9);
}
15% {
  transform: scale(1.075);
  filter: invert(1);
  box-shadow: 0px 0px 10px rgb(199, 82, 9);
}
20% {
  transform: scale(1.1);
  filter: invert(1);
  box-shadow: 0px 0px 10px rgb(199, 82, 9); 
}
25% {
  transform: scale(1.075);
  filter: invert(1);
  box-shadow: 0px 0px 15px rgb(199, 82, 9);
}
30% {
  transform: scale(1.05);
  filter: invert(1);
  box-shadow: 0px 0px 30px rgb(199, 82, 9);
}
35% {
  transform: scale(1.025);
  filter: invert(1);
  box-shadow: 0px 0px 30px rgb(199, 82, 9);
}
40% {
  transform: scale(1);
  filter: invert(1);
  box-shadow: 0px 0px 30px rgb(199, 82, 9);
}
45% {
  transform: scale(1.025);
  filter: invert(1);
  box-shadow: 0px 0px 10px rgb(199, 82, 9);
}
50% {
  transform: scale(1.05);
  filter: invert(1);
  box-shadow: 0px 0px 25px rgb(199, 82, 9);
}
55% {
  transform: scale(1.075);
  filter: invert(1);
}
60% {
  transform: scale(1.1);
  filter: invert(1);
}
65% {
  transform: scale(1.075);
  filter: invert(1);
}
70% {
  transform: scale(1.05);
  filter: invert(1);
}
75% {
  transform: scale(1.025);
  filter: invert(1);
}
80% {
  transform: scale(1);
  filter: invert(1); 
}
85% {
  transform: scale(1.025);
  filter: invert(1);
}
90% {
  transform: scale(1.05);
  filter: invert(1);
}
95% {
  transform: scale(1.025);
  filter: invert(1);
}
to {
  transform: scale(1);
  filter: invert(1); 
}
}
@keyframes noFilterGlowing {
  from {
  transform: scale(1); 
  box-shadow: 0px 0px 0px white; 
  }
  5% {
  transform: rotate(18deg) scale(1.025);
  box-shadow: 0px 0px 50px rgb(142, 251, 216);
  background-color: rgba(255, 255, 0, 0.2);  
  }
  10% {
  transform: rotate(36deg) scale(1.05);
  box-shadow: 0px 0px 70px rgb(188, 216, 8);
  background-color: rgba(237, 254, 0, 0.1);
  }
  15% {
    transform: rotate(54deg) scale(1.075); 
    box-shadow: 0px 0px 80px rgb(227, 237, 89);
    background-color: rgba(255, 255, 0, 0.2);
  }
  20% {
    transform: rotate(72deg) scale(1.1);
    box-shadow: 0px 0px 70px rgb(108, 219, 244);
    background-color: rgba(255, 255, 0, 0.3);  
  }
  25% {
    transform: rotate(90deg) scale(1.075);
    box-shadow: 0px 0px 50px rgb(142, 251, 216);
    background-color: rgba(255, 255, 0, 0.4);  
  }
  30% {
    transform: rotate(108deg) scale(1.05);
    box-shadow: 0px 0px 15px rgb(188, 216, 8);
    background-color: rgba(255, 255, 0, 0.3);  
  }
  35% {
    transform: rotate(126deg) scale(1.025); 
    box-shadow: 0px 0px 50px rgb(142, 251, 216);
    background-color: rgba(255, 255, 0, 0.2); 
  }
  40% {
    transform: rotate(144deg) scale(1);
    box-shadow: 0px 0px 70px rgb(188, 216, 8);
    background-color: rgba(255, 255, 0, 0.1);  
  }
  45% {
    transform: rotate(162deg) scale(1.025);
    box-shadow: 0px 0px 80px rgb(227, 237, 89);
    background-color: rgba(255, 255, 0, 0.2);  
  }
  50% {
    transform: rotate(180deg) scale(1.05);
    box-shadow: 0px 0px 70px rgb(188, 216, 8);
    background-color: rgba(255, 255, 0, 0.3);  
  }
  55% {
    transform: rotate(198deg) scale(1.075);
    box-shadow: 0px 0px 50px rgb(142, 251, 216);
    background-color: rgba(255, 255, 0, 0.2);  
  }
  60% {
    transform: rotate(216deg) scale(1.1);
    box-shadow: 0px 0px 15px rgb(188, 216, 8);
    background-color: rgba(255, 255, 0, 0.1);  
  }
  65% {
    transform: rotate(234deg) scale(1.075);
    box-shadow: 0px 0px 50px rgb(142, 251, 216);
    background-color: rgba(255, 255, 0, 0.2);
  }
  70% {
    transform: rotate(252deg) scale(1.05);
    box-shadow: 0px 0px 70px rgb(188, 216, 8);
    background-color: rgba(255, 255, 0, 0.3);  
  }
  75% {
    transform: rotate(270deg) scale(1.025);
    box-shadow: 0px 0px 80px rgb(227, 237, 89);
    background-color: rgba(255, 255, 0, 0.2);  
  }
  80% {
    transform: rotate(288deg) scale(1); 
    box-shadow: 0px 0px 70px rgb(188, 216, 8);
    background-color: rgba(255, 255, 0, 0.1);  
  }
  85% {
    transform: rotate(306deg) scale(1.025);
    box-shadow: 0px 0px 50px rgb(142, 251, 216);
    background-color: rgba(255, 255, 0, 0.2);  
  }
  90% {
    transform: rotate(324deg) scale(1.05);
    box-shadow: 0px 0px 15px rgb(188, 216, 8);
    background-color: rgba(255, 255, 0, 0.3);  
  }
  95% {
    transform: rotate(342deg) scale(1.025);
    box-shadow: 0px 0px 50px rgb(142, 251, 216);
    background-color: rgba(255, 255, 0, 0.2);  
  }
  to {
    transform: rotate(360deg) scale(1);
    box-shadow: 0px 0px 70px rgb(188, 216, 8);
    background-color: rgba(255, 255, 0, 0.1); 
  }
  }
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
background: url(assets/blueHole.jpg);
background-size: cover;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
height: 100vh;
overflow: hidden
}

.App-header .titLogo h2 {
font-family: Arial, Helvetica, sans-serif;
color: rgb(43, 65, 164);
text-decoration: rgb(4, 118, 204) underline
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
position: relative;
animation-duration: 2s;
animation-name: fadeIn;
animation-iteration-count: ease-in;
transition: 0.3s
}

.titLogo {
position: relative;
bottom: 280px;
left: -500px;
display: flex;
flex-direction: row-reverse;
align-items: center;
justify-content: center;
}

.titLogo h2 {
color: white;
margin-left: 15px;
}

.indexBody {
display: grid;
grid-template-columns: repeat(50, 1fr);
grid-template-rows: repeat(50, 1fr);
position: absolute;
left: -480px;
top: -160px;
width: 700px;  
height: 500px;
}

.unidad1 {
padding: 0px;
font-size: 0.8rem;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
grid-column-start: 3;
grid-column-end: 13;
grid-row-start: 5;
grid-row-end: 15;  
box-shadow: 0px 0px 10px rgb(2, 147, 209);
border: solid 2px rgb(170, 1, 170);
}

.unidad2 {
padding: 0px;
font-size: 0.8rem;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
grid-column-start: 14;
grid-column-end: 24;
grid-row-start: 7;
grid-row-end: 17;  
box-shadow: 0px 0px 10px rgb(2, 147, 209);
border: solid 2px rgb(170, 1, 170);
}

.unidad3 {
padding: 0px;
font-size: 0.8rem;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
grid-column-start: 25;
grid-column-end: 35;
grid-row-start: 9;
grid-row-end: 19;  
box-shadow: 0px 0px 10px rgb(2, 147, 209);
border: solid 2px rgb(170, 1, 170);
}

.unidad4 {
padding: 0px;
font-size: 0.8rem;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
grid-column-start: 36;
grid-column-end: 46;
grid-row-start: 11;
grid-row-end: 21; 
box-shadow: 0px 0px 10px rgb(2, 147, 209);
border: solid 2px rgb(170, 1, 170); 
}

.unidad5 {
padding: 0px;
font-size: 0.8rem;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
grid-column-start: 3;
grid-column-end: 13;
grid-row-start: 23;
grid-row-end: 33;  
box-shadow: 0px 0px 10px rgb(2, 147, 209);
border: solid 2px rgb(170, 1, 170); 
}

.unidad6 {
padding: 0px;
font-size: 0.8rem;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
grid-column-start: 14;
grid-column-end: 24;
grid-row-start: 25;
grid-row-end: 35;  
box-shadow: 0px 0px 10px rgb(2, 147, 209);
border: solid 2px rgb(170, 1, 170);
}

.unidad7 {
padding: 0px;
font-size: 0.8rem;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
grid-column-start: 25;
grid-column-end: 35;
grid-row-start: 27;
grid-row-end: 37; 
box-shadow: 0px 0px 10px rgb(2, 147, 209);
border: solid 2px rgb(170, 1, 170); 
}

.unidad8 {
padding: 0px;
font-size: 0.8rem;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
grid-column-start: 36;
grid-column-end: 46;
grid-row-start: 29;
grid-row-end: 39; 
box-shadow: 0px 0px 10px rgb(2, 147, 209);
border: solid 2px rgb(170, 1, 170); 
}

.unidad9 {
padding: 0px;
font-size: 0.8rem;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
grid-column-start: 3;
grid-column-end: 13;
grid-row-start: 40;
grid-row-end: 50;  
box-shadow: 0px 0px 10px rgb(2, 147, 209);
border: solid 2px rgb(170, 1, 170);
}

.unidad1:hover, .unidad2:hover, .unidad3:hover, .unidad4:hover, .unidad5:hover, .unidad6:hover, .unidad7:hover, .unidad8:hover, .unidad9:hover {
background-color: rgb(255, 16, 219);
transform: scale(1.05);
transition:0.3s;
box-shadow: 0px 0px 10px rgb(0, 234, 255);
}

.unidad1, .unidad2, .unidad3, .unidad4, .unidad5, .unidad6, .unidad7, .unidad8, .unidad9 {
border-radius: 5%;

}

h4 {
color: white;
}

.unidadesBody {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
position: absolute;
left: -480px;
top: -160px;
width: 700px;  
height: 500px;
}

.unidadesBody h4 {
position: relative;
left: 90px;
bottom: 50px;
font-family: cursive;
font-size: 1rem;
}

.back {
position: relative;
left: 90px;
width: 50px;
height: 30px;
background-color: rgb(16, 10, 177);
border: solid 2px rgb(2, 133, 227);
border-radius: 15%;
color: white
}

.back:hover {
background-color: rgb(0, 183, 255); 
border: solid 2px rgb(4, 28, 116);
transform: scale(0.95); 
transition: 0.2s;
}

.unidadesBody2 {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: repeat(5, 1fr);
align-items: flex-start;
justify-content:flex-start;
position: absolute;
left: -480px;
top: -50px;
width: 700px;  
height: 500px;
}

.unidadesBody2 h4 {
position: relative;
left: 90px;
bottom: 50px;
font-family: cursive;
font-size: 1rem;
}

.back2 {
position: relative;
left: -60px;
bottom: 0px;
width: 50px;
height: 30px;
background-color: rgb(16, 10, 177);
border: solid 2px rgb(2, 133, 227);
border-radius: 15%;
color: white
}
  
.back2:hover {
background-color: rgb(0, 183, 255); 
border: solid 2px rgb(4, 28, 116);
transform: scale(0.95); 
transition: 0.2s;
}

.textOrder {
text-align: start;
}

.containerU4 {
position: relative; 
left: 100px;
animation-duration: 2s;
animation-name: fadeIn;
animation-iteration-count: ease-in;
transition: 0.3s 

}

.containerU7 {
position: relative; 
left: 200px; 
animation-duration: 2s;
animation-name: fadeIn;
animation-iteration-count: ease-in;
transition: 0.3s
}

.containerU8 {
position: relative; 
left: 300px; 
animation-duration: 2s;
animation-name: fadeIn;
animation-iteration-count: ease-in;
transition: 0.3s
}

.containerU9 {
position: relative; 
left: 0px;
animation-duration: 2s;
animation-name: fadeIn;
animation-iteration-count: ease-in;
transition: 0.3s 
}

.unidadesBody8 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
position: absolute;
left: -480px;
top: -260px;
width: 700px;  
height: 500px;
}
    
.unidadesBody8 h4 {
position: relative;
left: 90px;
bottom: 50px;
font-family: cursive;
font-size: 1rem;
}

.blueSp {
padding:0px;
display:flex;
align-items: center;
justify-content: center;
text-align: center;
position:absolute;
right: 287px !important;
top: 363px;
width: 100px;
height: 100px;
border-radius: 50%;
background-color: transparent;
animation-duration: 2s;
animation-name: noFilterGlowing;
animation-iteration-count: infinite;
transition: 0.5s
}

.sphereBlue {
width:48px;
height:50px;
margin: 0px;
border-radius: 50%;
animation-duration: 7s;
animation-name: glowing;
animation-iteration-count: infinite;
transition: 0.5s
}